/*Author: Marco Buonvino*/ 

/*GENERAL*/ 

/*
Palette: DiS 	
#344954 Blue Gray 800
#648C9F
#23556C
#347D9F
#94D0EC
#FFFFFF White
*/ 

body { 	
background: #344953; 	
font-family: 'Raleway', sans-serif; 	
font-weight: 300; 	
font-size: 1.5rem; 	
line-height: 1.5; 	
color: #fff; 	
margin: 0; 	
padding: 0; }

a {
color: #fff;
} 

.flex-container {
	display:flex;
	/*flex-direction: row;
	flex-wrap: wrap;*/
	flex-flow: row wrap;
	justify-content: center;
	align-items: stretch;
	align-content: center;
}

.flex-item {
	text-align: center;
	padding: 0 1rem;
}

.big-card {
	/*flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 100%;*/
	flex: 1 1 100%;
	padding: 20% 2%;
}


.small-card {
	/*flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 20rem;*/
	flex: 1 1 20rem;
	padding: 20% 2%;
}


/* SPECIFIC */
.problemsolving {	
	background: #648C9F;
}

.pointofview {	
	background: #23556C;
}

.resilience {	
	background: #347D9F;
}
